USE [master]
GO
/****** Object:  Database [db_fano]    Script Date: 04/18/2016 14:26:31 ******/
CREATE DATABASE [db_fano] ON  PRIMARY 
( NAME = N'db_fano', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\db_fano.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_fano_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\db_fano_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_fano].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_fano]
GO
/****** Object:  Table [dbo].[tbl_fano_olmayan]    Script Date: 04/18/2016 14:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_fano_olmayan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BOYUT] [int] NULL,
	[N1] [int] NULL,
	[N2] [int] NULL,
	[N3] [int] NULL,
	[N4] [int] NULL,
	[N5] [int] NULL,
	[N6] [int] NULL,
	[N7] [int] NULL,
	[N8] [int] NULL,
	[N9] [int] NULL,
	[N10] [int] NULL,
	[N11] [int] NULL,
	[KIYAS] [varchar](100) NULL,
 CONSTRAINT [PK_tbl_fano_olmayan_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_fano]    Script Date: 04/18/2016 14:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_fano](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BOYUT] [int] NULL,
	[N1] [int] NULL,
	[N2] [int] NULL,
	[N3] [int] NULL,
	[N4] [int] NULL,
	[N5] [int] NULL,
	[N6] [int] NULL,
	[N7] [int] NULL,
	[N8] [int] NULL,
	[N9] [int] NULL,
	[N10] [int] NULL,
	[N11] [int] NULL,
	[KIYAS] [varchar](100) NULL,
 CONSTRAINT [PK_tbl_fano] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
